@page "/courses"
@using BlazorBackofficeApp.Models
@using Microsoft.AspNetCore.Authorization
@using System.Text.Json
@inject HttpClient Http
@rendermode InteractiveServer
@attribute [Authorize]
@attribute [StreamRendering]

<section id="courses">
    <div class="container">
        @if (showForFewSeconds)
        {
            <div class="update-popup"> 
                <p>Course Has been updated</p>
            </div>
        }
        @if (showUpdateForm)
        {
            <div class="update-course-form">
                <h2>Update Course</h2>
                <EditForm Model="courseUpdateRequest" OnValidSubmit="UpdateCourseFromForm">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="form-group">
                        <label>Image URI:</label>
                        <InputText @bind-Value="courseUpdateRequest.ImageUri" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Image Header URI:</label>
                        <InputText @bind-Value="courseUpdateRequest.ImageHeaderUri" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Is Best Seller:</label>
                        <InputCheckbox @bind-Value="courseUpdateRequest.IsBestSeller" />
                    </div>
                    <div class="form-group">
                        <label>Is Digital:</label>
                        <InputCheckbox @bind-Value="courseUpdateRequest.IsDigital" />
                    </div>

                    <div class="form-group">
                        <label>Title:</label>
                        <InputText @bind-Value="courseUpdateRequest.Title" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Ingress:</label>
                        <InputText @bind-Value="courseUpdateRequest.Ingress" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Star Rating:</label>
                        <InputNumber @bind-Value="courseUpdateRequest.StarRating" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Reviews:</label>
                        <InputText @bind-Value="courseUpdateRequest.Reviews" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Likes in Percent:</label>
                        <InputText @bind-Value="courseUpdateRequest.LikesInPercent" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Likes:</label>
                        <InputText @bind-Value="courseUpdateRequest.Likes" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Hours:</label>
                        <InputText @bind-Value="courseUpdateRequest.Hours" class="form-control" />
                    </div>

                    <button type="submit" class="btn-create">Update Course</button>
                </EditForm>
            </div>
        }
        <div class="title-input-field">
            <div class="create-course-btn">
                <a href="/createcourse">Create new course</a>
            </div>
            <h1>Courses</h1>
        </div>
        <div class="articles">
            @if (isLoading)
            {
                <div class="spinner-border" role="status">
                    <span class="sr-only"></span>
                </div>
            }
            else
            {
                @if (courses != null)
                {
                    @foreach (var course in courses)
                    {
                        <div class="course-card">
                            <div class="course-image">
                                <img src="@course.ImageUri" alt="Course Image">
                            </div>
                            <div class="course-info">
                                <h2 class="course-title">@course.Title</h2>
                                <p class="course-ingress">@course.Ingress</p>
                                <div class="course-rating">
                                    <span>⭐ @course.StarRating</span>
                                    <span>(@course.Reviews reviews)</span>
                                </div>
                                <div class="course-price">

                                    @if (course.Prices.Discount <= 0)
                                    {
                                        <span class="current-price">@course.Prices.Price</span>
                                    }
                                    else
                                    {
                                        <span class="current-price">@course.Prices.Price</span>
                                        <span class="discount-price">@course.Prices.Discount</span>
                                    }

                                </div>
                                <div class="course-authors">
                                    <span>By: @course.Authors?.FirstOrDefault()?.Name</span>
                                </div>
                                <div class="course-actions">
                                    <button class="update-button" @onclick="async () => await ShowUpdateForm(course.Id)">Update</button>
                                    <button class="delete-button" @onclick="async () => await DeleteCourse(course.Id)">Delete</button>
                                </div>
                            </div>
                        </div>
                    }
                }
            }
           
        </div>
        @if (isCourseDeletedSuccessfully)
        {

            <div class="alert alert-success" role="alert">
                Course successfully deleted
            </div>
            
        }

    </div>

</section>


@code {
    private bool showForFewSeconds = false;
    private bool isCourseDeletedSuccessfully = false;
    private List<Course>? courses;
    private List<Course>? oneCourse;
    private bool showCreateForm = false;
    private bool showUpdateForm = false;
    private CourseCreateRequest newCourse = new CourseCreateRequest();
    private bool isLoading = true;

    [SupplyParameterFromForm]
    private CourseCreateRequest courseUpdateRequest { get; set; } = new();

    private string selectedUpdate = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var query = new
            {
                query = "{ getAllCourses { id title imageUri authors { name } prices { price discount } reviews ingress starRating } }"
            };

            var response = await Http.PostAsJsonAsync("https://gbgcourseprovider.azurewebsites.net/api/graphql?code=uAMkjucuAPkVqyLMmbal_N8rxyPXJslqzzde7JdZTWIKAzFuhtmdNA%3D%3D", query);
            var jsonString = await response.Content.ReadAsStringAsync();
            var jsonResponse = JsonDocument.Parse(jsonString);

            courses = JsonSerializer.Deserialize<List<Course>>(
                jsonResponse.RootElement.GetProperty("data").GetProperty("getAllCourses").ToString(),
                new JsonSerializerOptions { PropertyNameCaseInsensitive = true }
            );
        }
        finally
        {
            isLoading = false;
        }

    }


    private async Task<bool> DeleteCourse(string courseId)
    {

        try
        {
            var query = new
            {
                query = $"mutation {{ deleteCourse(id: \"{courseId}\") }}",

            };

            var response = await Http.PostAsJsonAsync("https://gbgcourseprovider.azurewebsites.net/api/graphql?code=uAMkjucuAPkVqyLMmbal_N8rxyPXJslqzzde7JdZTWIKAzFuhtmdNA%3D%3D", query);

            if (response.IsSuccessStatusCode)
            {
                isCourseDeletedSuccessfully = true;

                await OnInitializedAsync();
                StateHasChanged();
                return true;
            }
            else
            {
                isCourseDeletedSuccessfully = false;

                await OnInitializedAsync();
                return false;
            }
        }
        catch (Exception ex)
        {


            isCourseDeletedSuccessfully = false;

            await OnInitializedAsync();
            return false;
        }
    }

    private async Task ShowElement()
    {
        showForFewSeconds = true;
        StateHasChanged();  // Uppdatera UI

        await Task.Delay(8000);  // Vänta i 8 sekunder

        showForFewSeconds = false;
        StateHasChanged();  // Uppdatera UI
    }

    private async Task UpdateCourseFromForm()
    {

        await UpdateCourse(selectedUpdate,  courseUpdateRequest);

        showUpdateForm = false;
        await OnInitializedAsync();
        await ShowElement();

    }

    private async Task ShowUpdateForm(string id)
    {
        selectedUpdate = id;
        showUpdateForm = true;
        await GetOneCourseMethod(id);
    }

    private async Task<Course> GetOneCourse(string courseId)
    {
        try
        {
            var query = new
            {
                query = $"query {{ getCourseById(id: \"{courseId}\") {{ id title }} }}"
            };

            var response = await Http.PostAsJsonAsync("https://gbgcourseprovider.azurewebsites.net/api/graphql?code=uAMkjucuAPkVqyLMmbal_N8rxyPXJslqzzde7JdZTWIKAzFuhtmdNA%3D%3D", query);

            if (response.IsSuccessStatusCode)
            {
                var jsonString = await response.Content.ReadAsStringAsync();
                var jsonResponse = JsonDocument.Parse(jsonString);

                // Extrahera kursdata från JSON-svaret
                var courseData = jsonResponse.RootElement.GetProperty("data").GetProperty("getCourseById");

                // Skapa en ny instans av Course och sätt värdena från GraphQL-svaret
                var course = new Course
                    {
                        Id = courseData.GetProperty("id").GetString(),
                        Title = courseData.GetProperty("title").GetString(),
                        // Fyll i resten av egenskaperna beroende på din Course-modell
                    };

                return course;
            }
            else
            {
                // Om förfrågan misslyckas, kasta ett undantag eller hantera felet på lämpligt sätt
                throw new Exception("Failed to retrieve course data.");
            }
        }
        catch (Exception ex)
        {
            // Hantera eventuella fel här
            Console.WriteLine($"An error occurred: {ex.Message}");
            return null;
        }
    }

    private async Task GetOneCourseMethod(string courseId)
    {
        try
        {
            var query = new
            {
                query = $@"
                    {{
                    getCourseById(id: ""{courseId}"") {{
                    id
                    imageUri
                    imageHeaderUri
                    isBestSeller
                    isDigital
                    categories
                    title
                    ingress
                    starRating
                    reviews
                    likesInPercent
                    likes
                    hours
                    authors {{

                        name

                    }}
                    prices {{
                        price
                        discount

                    }}
                    content {{
                        description
                        includes
                        programDetails {{
                        id
                        title
                        description
                        }}
                    }}
                    }}
                    }}"
            };

            var response = await Http.PostAsJsonAsync("https://gbgcourseprovider.azurewebsites.net/api/graphql?code=uAMkjucuAPkVqyLMmbal_N8rxyPXJslqzzde7JdZTWIKAzFuhtmdNA%3D%3D", query);

            if (response.IsSuccessStatusCode)
            {
                var jsonString = await response.Content.ReadAsStringAsync();
                var jsonResponse = JsonDocument.Parse(jsonString);


                courseUpdateRequest = JsonSerializer.Deserialize<CourseCreateRequest>(
                jsonResponse.RootElement.GetProperty("data").GetProperty("getCourseById").ToString(),
                new JsonSerializerOptions { PropertyNameCaseInsensitive = true }
            );
                // Extrahera kursdata från JSON-svaret
                // var courseData = jsonResponse.RootElement.GetProperty("data").GetProperty("getCourseById");


                // Skapa en ny instans av CourseUpdateRequestInput och sätt värdena från GraphQL-svaret
                // var courseUpdateRequest = new CourseUpdateRequestInput
                //     {
                //         Id = courseData.GetProperty("id").GetString(),
                //         ImageUri = courseData.GetProperty("imageUri").GetString(),
                //         ImageHeaderUri = courseData.GetProperty("imageHeaderUri").GetString(),
                //         IsBestSeller = courseData.GetProperty("isBestSeller").GetBoolean(),
                //         IsDigital = courseData.GetProperty("isDigital").GetBoolean(),
                //         Categories = JsonSerializer.Deserialize<List<string>>(courseData.GetProperty("categories").ToString()),
                //         Title = courseData.GetProperty("title").GetString(),
                //         Ingress = courseData.GetProperty("ingress").GetString(),
                //         StarRating = courseData.GetProperty("starRating").GetInt32(),
                //         Reviews = courseData.GetProperty("reviews").GetString(),
                //         LikesInPercent = courseData.GetProperty("likesInPercent").GetString(),
                //         Likes = courseData.GetProperty("likes").GetString(),
                //         Hours = courseData.GetProperty("hours").GetString(),
                //         Authors = JsonSerializer.Deserialize<List<Author>>(courseData.GetProperty("authors").ToString()),
                //         Prices = JsonSerializer.Deserialize<Prices>(courseData.GetProperty("prices").ToString()),
                //         Content = JsonSerializer.Deserialize<Content>(courseData.GetProperty("content").ToString())
                //     };

                // return courseUpdateRequest;

            }
            else
            {
                // Om förfrågan misslyckas, kasta ett undantag eller hantera felet på lämpligt sätt
                throw new Exception("Failed to retrieve course data.");
            }
        }
        catch (Exception ex)
        {


        }
    }


    private async Task<bool> UpdateCourse(string courseId, CourseCreateRequest input)
    {
        // mutation ($input: CourseUpdateRequestInput!) { updateCourse(input: $input) { id title } }"
        var requestBody = new
        {
            query = "mutation ($input: CourseUpdateRequestInput!) { updateCourse(input: $input) { id title } }",
            variables = new
            {
                input = new
                {
                        id = courseId,
                        imageUri = input.ImageUri,
                        imageHeaderUri = input.ImageHeaderUri,
                        isBestSeller = input.IsBestSeller,
                        isDigital = input.IsDigital,
                        title = input.Title,
                        ingress = input.Ingress,
                        starRating = input.StarRating,
                        reviews = input.Reviews,
                        likesInPercent = input.LikesInPercent,
                        likes = input.Likes,
                        hours = input.Hours,
                        authors = new[]
                        {
                            new { name = "Robert Fox" }
                        },
                        prices = new
                        {
                            currency = "USD",
                            price = 12.50,
                            discount = 0
                        },
                        content = new
                        {
                            description = "<p>This is a course that will teach you everything you need to know to start creating fullstack web applications from scratch all by yourself.</p>",
                            includes = new[]
                        {
                            "148 hours on-demand video",
                            "10 articles",
                            "25 downloadable resources",
                            "Full lifetime access",
                            "Certificate of completion"
                        },
                            programDetails = new[]
                            {
                                new { id = 1, title = "Introduction. Getting Started", description = "Learn the basics and get started with your first projects." },
                                new { id = 2, title = "The Ultimate HTML developer: advanced HTML", description = "Explore advanced HTML techniques and build complex webpages" },
                                new { id = 3, title = "CSS & CSS3: basic", description = "Basic and advanced use of CSS to design web pages." },
                                new { id = 4, title = "Understanding APIs", description = "Understand and integrate various APIs into your projects" },
                                new { id = 5, title = "Python from beginner to advanced", description = "A deep dive into Python programming, from beginner to advanced level." }
                            }
                        }
                    }
                }
            };

       
            var response = await Http.PostAsJsonAsync("https://gbgcourseprovider.azurewebsites.net/api/graphql?code=uAMkjucuAPkVqyLMmbal_N8rxyPXJslqzzde7JdZTWIKAzFuhtmdNA%3D%3D", requestBody);

            return response.IsSuccessStatusCode;
          
            
       
    }
}
  


   
   



   
